.container {
    width: 280px;
    height: 214px;
    background-color: palevioletred;
    box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.div {
    display: flex;
    justify-content: space-around;
}
.text {
    margin-left: 15px;
}
.task {
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto;
}
.planingHours {
    width: 105px;
}
.input {
    width: 90px;
}
.spendedHours {
    width: 105px;
}
.button {
    width: 20px;
    height: 20px;
    background: url(../../assest/icons/deleteTask.svg) no-repeat;
    background-position: center;
    border-radius: 25px;
    outline: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    outline: none;
}


/* @media screen and (max-width: ) {
    .container {
        width: 216px;
        height: 284px;
    } 
} */