
@media (min-width: 320px) {
    .containerTasks{
        position: relative;
        font-family: var(--primeFont);

    }
    .containerGoBack{        
        margin-bottom: 23px;
    }
    .containerGoBack::after{
        content: "";
        display: inline-block;
        height: 1px;
        width: 100vh;
        background-color: var(--borderColor);
        right: -20px;
        position: absolute;
    }
    .ContainerPaginate{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .paginate{
        display: inline-block;
    }
    .paginateSpan{

    }
    .puginateBth{
        margin: 0px 20px 0px 0px;
        background: url(../../assest/icons/ArrowLeft.icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
    }
    .puginateBth:last-child{
        margin: 0px 65px 0px 20px;
        background: url(../../assest/icons/ArrowRight.icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
    }
    .dateCreation{
        display: inline-block;
        font-size: 12px;
        line-height: 15px;
        color: var(--greyColor);
    }
    .containerInput{
        text-align: center;
    
    }
    .input{
        background-image: url(../../assest/ui/search.svg );
        width: 280px;
        background: none;
        border: none;
        border-bottom: 1px solid var(--greyColor);
    }
    .input::placeholder{
        font-family: var(--primeFont);
    }
    .input::before{
        content: "";
        background-image: url(../../assest/ui/search.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
    }
    }
    
    /* 
    .containerSideBar{
        display: flex;
    } */