@media (min-width: 768px) {
  .view {
    min-width: 100%;
    display: grid;
    grid-template-columns: 216px 1fr;
  }
}
@media (min-width: 1280px) {
  .view {
    grid-template-columns: 220px 1fr;
  }
}
