.enter {
  transform: translate(100%);
  opacity: 0;
}
.enterActive {
  transform: translate(0);
  opacity: 1;
  transition: all 0.25s ease-in;
}
.exit {
  transform: translate(0);
  opacity: 1;
}
.exitActive {
  transform: translate(100%);
  opacity: 0;
  transition: all 0.25s ease-in;
}
