:root {
    --primeFont: "Montserrat", sans-serif, serif;

  --orangeColor: #ff6b08;
  --backgroundColor: #F1F2F7;
  --formColor: #fafafa;
  --whiteColor: #ffffff;
  --blackColor: #181c27;
  --greyColor: rgba(24, 28, 39, 0.6);
  --borderColor: rgba(24, 28, 39, 0.1);

    --min1024: screen and (min-width: 1024px);
    --min768: screen and (min-width: 768px);
    --mx767: screen and (max-width: 767px);

    --trans: all 0.25s ease-in-out;
}
