:root {
  --primeFont: "Montserrat", sans-serif;

  --orangeColor: #ff6b08;
  --backgroundColor: #F1F2F7;
  --formColor: #fafafa;
  --whiteColor: #ffffff;
  --blackColor: #181c27;
  --greyColor: rgba(24, 28, 39, 0.6);
  --borderColor: rgba(24, 28, 39, 0.1);

    --min1024: screen and (min-width: 1024px);
    --min768: screen and (min-width: 768px);
    --mx767: screen and (max-width: 767px);

    --trans: all 0.25s ease-in-out;
}

display: flex;
flex-direction: row;
align-items: center;
padding: 11px 44px;

position: absolute;
width: 260px;
height: 44px;
left: 510px;
top: 538px;

background: #FF6B08;
/* orange */

box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
border-radius: 25px;
