.text {
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.04em;
    color: var(--blackColor);
}

.container {
    font-family: var(--primeFont);
    background-color: var(--backgroundColor);
    padding-top: 40px;
    min-width: 320px;
}

.wrapper {
    width: 870px;   
    margin: 0 auto;
    position: relative;
}

.projectName {
    composes: text;
    font-size: 36px;
    display: inline-block;
}

.projectNameWithDesc {
    composes: projectName;
    margin-bottom: 14px;
}

.projectNameWithOutDesc {
    composes: projectName;
    margin-bottom: 24px;
}

.editBtn {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    
    background-image: url('../../assest/icons/Remove.icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
}

.description {
    composes: text;
    font-size: 18px;
    
    width: 400px;
    margin-bottom: 26px;
}

.addParticipant {
    composes: text;
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 28px;
    cursor: pointer;
}

.addParticipant::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../assest/icons/addParticipant.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-right: 10px;
}

.addSprint {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.addSprintBtn {
    width: 44px;
    height: 44px;
    border-radius: 25px;
    background-color: var(--orangeColor);
    background-image: url('../../assest/icons/+.svg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;

}

.addSprintText {
    composes: text;
    font-size: 18px;
    margin-left: 20px;
}

@media (max-width: 1023px) {
    .wrapper {
        width: 452px;
    }
    
    .description {
        width: 100%;
    }

    .addSprintText {
        display: none;
    }
}

@media (max-width: 767px) {
    .container {
        padding-top: 30px;

    }

    .wrapper {
        width: 280px;
        position: static;
    }

    .projectName {
        font-size: 26px;
    }

    .description {
        font-size: 14px;
    }

    .addSprint {
        position: fixed;
        top: auto;
        bottom: 20px;
        right: 20px;
    }

}