.tableDesctopDescrip {
  display: none;
}

.onlyDesktop {
  display: none;
}

@media (min-width: 1280px) {
  .onlyDesktop {
    display: block;
  }

  .desktopSearchInp {
    display: block;
    position: relative;
    top: 0;
    left: 30px;
  }
  .tableDesctopDescrip {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
