.circle {
  border-radius: 50%;
  display: block;
}

.whiteCircle {
  composes: circle;
  background-color: var(--whiteColor);
}
.orangeCircle {
  composes: circle;
  background-color: var(--orangeColor);
}

.first {
  composes: whiteCircle;
  width: 48px;
  height: 48px;
  position: relative;
  top: 120px;
  left: -200px;
}
.second {
  composes: whiteCircle;
  width: 118px;
  height: 118px;
  position: relative;
  top: 170px;
  left: -300px;
}

.third {
  composes: orangeCircle;
  position: relative;
  width: 252px;
  height: 252px;
  left: -200px;
  top: 250px;
  z-index: 10;
}

.thirdLay {
  composes: orangeCircle;
  position: absolute;
  width: 252px;
  height: 252px;
  left: 286px;
  top: 566px;
  z-index: 999999999;
  opacity: 0.8;
}

.fourth {
  composes: whiteCircle;
  width: 298px;
  height: 298px;
  position: relative;
  left: -230px;
  top: -10px;
  z-index: 0;
}
.fifth {
  composes: orangeCircle;
  width: 78px;
  height: 78px;
  position: relative;
  left: 490px;
  top: -700px;
  z-index: 0;
}
.sixth {
  composes: orangeCircle;
  width: 26px;
  height: 26px;
  position: relative;
  left: 680px;
  top: -750px;
}

.seventh {
  composes: orangeCircle;
  width: 282px;
  height: 282px;
  position: relative;
  left: 380px;
  top: -400px;
  z-index: 5;
}

.eighth {
  composes: whiteCircle;
  width: 315px;
  height: 315px;
  position: relative;
  left: 360px;
  top: -700px;
  z-index: 2;
}

.ninth {
  composes: orangeCircle;
  width: 387px;
  height: 387px;
  position: relative;
  left: 460px;
  top: -1250px;
  z-index: 3;
}

.tenth {
  composes: whiteCircle;
  width: 430px;
  height: 430px;
  position: relative;
  left: 430px;
  top: -1650px;
  z-index: 2;
  border-radius: 193px;
}

@media (min-width: 1280px) {
  .fifth {
    top: -770px;
  }
  .sixth {
    top: -820px;
  }
  .first {
    top: 80px;
  }
  .second {
    top: 130px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.third,
.thirdLay,
.fifth,
.sixth,
.seventh,
.ninth {
  background: linear-gradient(
    -45deg,
    #ff6b07,
    #f3ad17,
    var(--orangeColor),
    #f16609
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
