.circleContainer{
  position: absolute;
}
.wrapper {
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--backgroundColor);
}
.container {
  min-width: 260px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.containerMobile {
  composes: container;
  background-color: var(--formColor);
}
.containerHeader {
  composes: container;
  border-bottom: 1px solid var(--borderColor);
}
@media (min-width: 768px) {
  .container {
    min-width: 688px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1280px) {
  .container {
    min-width: 1170px;
    padding-left: 55px;
    padding-right: 55px;
  }
}
