.wrapper {
    min-height: 100vh;
    min-width: 100%;
    background-color: var(--backgroundColor);
    padding-left: 20px;
    padding-right: 20px;
}
.container {
    min-width: 280px;
    height: 100%;
    color: aquamarine;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        min-width: 688px;
    }
    .wrapper{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 1280px) {
    .container {
        min-width: 1170px;
    }
    .wrapper{
        padding-left: 55px;
        padding-right: 55px;
    }
}
