.mainContainer {
    display: flex;
    border-top: 1px solid rgba(24, 28, 39, 0.1);
}

.sideBarContainer {
    width: 20%;
    border-right: 1px solid rgba(24, 28, 39, 0.1);
}

.childrenContainer {
    width: 80%;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .sideBarContainer {
        width: 33.33%;
    }

    .childrenContainer {
        width: 66.67%;
    }
}

@media (max-width: 767px) {

    .mainContainer {
        display: block;
    }

    .sideBarContainer {
        width: 100%;
    }

    .childrenContainer{
        width: 100%;
    }
}