
.visuallyHidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.label {
  font-size: 14px;
  line-height: 14px;
  color: var(--greyColor);
}
.container {
  text-align: center;
  height: 100vh;
}
.title {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 50px;
}
.input::placeholder {
  font-size: 18px;
  line-height: 22px;
  padding-left: 5px;
}
.input {
  width: 100%;
  margin-bottom: 32px;
  border: none;
  background: none;
  /* padding: 5px; */
  border-bottom: 1px solid var(--greyColor);
  overflow: none;
  font-weight: bold;
}
.input:last-of-type {
  margin-bottom: 40px;
  resize: none;
  margin-right: 100%;
}
.subtitle {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
  border-bottom: 1px solid var(--greyColor);
  color: var(--greyColor);
}

.descr {
  contain: input;
  font-weight: normal;
}

.btnWrapper {
  padding-top: 40px;
}


@media (min-width: 768px) {
  .label {
    margin: 0px 175px 0px 0px;
  }
}
