.visuallyHidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
@media (min-width: 320px) {
  .container {
    width: 280px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--formColor);
    font-family: var(--primeFont);
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form {
    position: relative;
    text-align: center;
    padding: 0px 70px;
    z-index: 10;
  }
  .input {
    width: 100%;
    margin-bottom: 32px;
    border: none;
    background: none;
    border-bottom: 1px solid var(--borderColor);
  }

  .input:last-of-type {
    margin-bottom: 40px;
  }
  .input:placeholder-shown {
    font-size: 18px;
    line-height: 22px;
    padding-left: 5px;
  }

  .label {
    position: absolute;
    bottom: 65px;
    left: 5px;
    font-size: 12px;
    line-height: 14px;
    color: var(--greyColor);
  }
  .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    padding: 47px 0px 30px 0px;
  }
  .titleSignup {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    padding: 47px 0px 30px 0px;
  }
  .subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.5px;
    margin-top: 18px;
    color: var(--greyColor);
  }
  .NavLink {
    display: inline;
    border-bottom: 1px solid var(--greyColor);
  }
}
@media (min-width: 768px) {
  .inputContainer {
    width: 429px;
    padding: 0px 0px 57px;
  }
  .inputContainerSingup {
    width: 429px;
    padding: 0px 0px 32px;
  }
  .inputContainerSingup:last-of-type {
    margin: 0px 0px 32px;
  }
  /* .inputContainer:nth-child(2){ */
  .inputContainer:last-of-type {
    padding: 0px 0px 40px;
  }
  .container {
    width: 570px;
    height: 538px;
    box-shadow: 0px 6px 26px rgb(0 5 97 / 10%);
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    margin-top: 114px;
  }
  .formContainer {
    height: 100%;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .label {
    bottom: 76px;
    left: 74px;
  }
  .input {
    width: 429px;
  }
  .input:last-of-type {
    margin-bottom: 55px;
  }
  .title {
    padding: 63px 0px 53px 0px;
  }
  .titleSignup {
    padding: 63px 0px 30px 0px;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
  }
}
@media (min-width: 1280px) {
  .container {
    margin-top: 56px;
  }
}
