.visuallyHidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.thirdNew {
  border-radius: 50%;
  display: block;
  background-color: var(--orangeColor);
  position: absolute;
  width: 252px;
  height: 252px;
  left: -165px;
  top: 400px;
  z-index: 999999;
  opacity: 0.8;
}
.return {
  margin-top: 200px;
}
.PassLink {
  font-size: 20px;
}
.inputContainer {
  padding: 0px 0px 57px;
}
.inputContainerSingup {
  padding: 0px 0px 32px;
}
.inputContainerSingup:last-of-type {
  margin: 0px 0px 32px;
}
/* .inputContainer:nth-child(2){ */
.inputContainer:last-of-type {
  padding: 0px 0px 40px;
}
@media (min-width: 320px) {
  .container {
    width: 280px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--formColor);
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form {
    position: relative;
    text-align: center;
    z-index: 10;
  }
  .input {
    width: 100%;
    margin-bottom: 32px;
    border: none;
    background: none;
    border-bottom: 1px solid var(--borderColor);
  }

  .input:last-of-type {
    margin-bottom: 40px;
  }
  .input:placeholder-shown {
    font-size: 18px;
    line-height: 22px;
    padding-left: 5px;
  }

  .label {
    position: absolute;
    bottom: 65px;
    left: 5px;
    font-size: 14px;
    line-height: 14px;
    color: var(--greyColor);
  }
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    padding: 47px 0px 30px 0px;
  }
  .titleSignup {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    padding: 47px 0px 30px 0px;
  }
  .subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.5px;
    margin-top: 18px;
    color: var(--greyColor);
  }
  .NavLink {
    display: inline;
    border-bottom: 1px solid var(--greyColor);
    margin-bottom: 20px;
  }
  .forgotPassLink {
    color: var(--greyColor);
    display: inline-block;
    font-size: 12px;
    width: 105px;
    text-align: center;
    display: block;
    margin: 15px auto 0px;
    border-bottom: 1px solid var(--greyColor);
  }
  .thirdNew {
    display: none;
  }
}
@media (min-width: 768px) {
  .inputContainer {
    width: 429px;
  }
  .inputContainerSingup {
    width: 429px;
  }

  .container {
    width: 570px;
    height: 538px;
    box-shadow: 0px 6px 26px rgb(0 5 97 / 10%);
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    margin-top: 114px;
  }
  .formContainer {
    height: 100%;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  .label {
    bottom: 60px;
    left: 74px;
  }
  .input {
    width: 429px;
  }
  .input:last-of-type {
    margin-bottom: 55px;
  }
  .title {
    padding: 30px 0px 30px 0px;
  }
  .titleSignup {
    padding: 63px 0px 30px 0px;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
  }
}
@media (min-width: 1280px) {
  .container {
    margin-top: 56px;
  }
  .form {
    position: relative;
    z-index: 0;
  }
  .thirdNew {
    left: -165px;
    top: 300px;
    z-index: 9999999;
    opacity: 0.8;
  }
}

/* =========flipper====== */
.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s linear;
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front {
  z-index: 2;
  transform: rotateX(0deg);
}
.back {
  transform: rotateX(-180deg);
  color: rgb(121, 116, 116);
}

.flipperRotate {
  transform: rotateX(180deg);
}

.inner {
  line-height: 2;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

.subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  margin-right: 5px;
  color: var(--greyColor);
}

.NavLink {
  font-size: 12px;
}

.btnWrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnWrapper a {
  margin: 0px 0px 3px 0px;
  height: 22px;
}
.btnWrapper p {
  margin: 0px;
}

.title {
  font-size: 16px;
  margin: 30px auto 0;
  text-align: center;
}
.headTitle {
  margin: 30px auto 0;
  text-align: center;
  color: black;
}
.sendTitle {
  margin: 100px auto 0;
  text-align: center;
}

.btnSubmit {
  margin-top: 40px;
  text-align: center;
}

.thirdNew {
  background: linear-gradient(
    -45deg,
    #ff6b07,
    #f3ad17,
    var(--orangeColor),
    #f16609
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.thirdNew {
  background: linear-gradient(
    -45deg,
    #ff6b07,
    #f3ad17,
    var(--orangeColor),
    #f16609
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
