.container {
  text-align: center;
  height: 100vh;
}
.title {
  font-size: 20px;
  line-height: 44px;
  margin-bottom: 50px;
}
.cotainerButtons {
  display: flex;
  justify-content: space-around;
}
.button {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  margin-top: 20px;
  color: var(--whiteColor);
  background-color: var(--orangeColor);
  padding: 10px;
  border-radius: 10px;
  transition: var(--trans);
}
.button:first-child {
  width: 93px;
}
.button:first-child:hover,
.button:first-child:focus {
  background-color: rgb(149, 212, 149);
  box-shadow: 0px 4px 20px rgba(58, 49, 43, 0.3);
}
.button:last-of-type:hover,
.button:last-of-type:focus {
  background-color: rgb(179, 52, 41);
  box-shadow: 0px 4px 20px rgba(58, 49, 43, 0.3);
}
@media (min-width: 1280px) {
  .title {
    font-size: 24px;
  }
}
