.container {
  min-width: 100%;
  min-height: 100vh;
  padding-top: 20px;
  background-color: transparent;
  font-family: var(--primeFont);
}
.wrapper {
  min-width: 100%;
  margin: 0 auto;
}
.infoBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.title {
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  letter-spacing: 1.04px;
  line-height: 31.69px;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  position: absolute;
  right: 20px;
  bottom: 20px;

  /* width: 44px;
  height: 44px; */
  /* background: url(../../assest/icons/Btn.svg) no-repeat; */
  /* background-position: center;
  outline: none;
  border-radius: 25px; */
}
.text {
  display: none;
}
.projectList {
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(135px, 135px));
  justify-content: center;
  grid-template-areas: m;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .infoBox {
    justify-content: space-between;
  }
  .button {
    position: static;
  }
  .projectList {
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(216px, 216px));
  }
}
@media screen and (min-width: 1280px) {
  .text {
    display: block;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.72px;
    line-height: 21.94px;
  }
  .button {
    position: static;
    margin-right: 20px;
  }
  .projectList {
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 270px));
  }
}
