.container {
    width: 1280px;
    height: 768px;
    background-color: #e5e5e5;
}
.wrapper {
    width: 1170px;
    margin: 0 auto;
}
.infoBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.title {
    font-style: var(--primeFont);
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.44px;
    line-height: 43.88px;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    width: 44px;
    height: 44px;
    margin-right: 20px;
    background: url(../../assest/icons/Btn.svg) no-repeat;
    background-position: center;
    outline: none;
    border-radius: 25px;
}
.text {
    font-family: var(--primeFont);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.72px;
    line-height: 21.94px;
}
.projectList {
    display: flex;
    justify-content: space-between;
}