.container {
    min-width: 100%;
    min-height: 100vh;;
    padding-top: 20px;
    background-color: transparent;
    font-family: var(--primeFont);
}
.wrapper {
    min-width: 100%;
    margin: 0 auto;
}
.infoBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.title {
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    letter-spacing: 1.04px;
    line-height: 31.69px;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    position: absolute;
    right: 20px;
    bottom: 20px;
  
    /* width: 44px;
    height: 44px; */
    /* background: url(../../assest/icons/Btn.svg) no-repeat; */
    /* background-position: center;
    outline: none;
    border-radius: 25px; */
}
.text {
    display: none;
}
.projectList {
    display: flex;
    flex-wrap: wrap;
}
.projectItem {
    margin-bottom: 10px;
    margin-right: 10px;
}
@media screen and (max-width:767px) {
    .projectItem:nth-child(2n+2) {
        margin-right: 0;
    }
}
@media screen and (min-width:768px) and (max-width: 1279px) {
    .infoBox {
        justify-content: space-between;
    }
    .button {
        position: static;
    }
    .projectItem {
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .projectItem:nth-child(3n+3) {
        margin-right: 0;
    }
}
@media screen and (min-width:1280px) {
    .text {
        display: block;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.72px;
        line-height: 21.94px;
    }
    .button {
        position: static;
        margin-right: 20px;
    }
    .projectItem {
        margin-bottom: 20px;
        margin-right: 30px;
    }
    .projectItem:nth-child(4n+4) {
        margin-right: 0;
    } 
}

