.taskName {
  font-family: var(--primeFont);
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto 15px;
  text-align: center;
  padding: 0px 0px 8px;
  border-bottom: 1px solid var(--borderColor);
  word-break: break-all;
}
.taskNameInput {
  max-width: 280px;
  font-size: 14px;
  line-height: 32px;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0px 0px 0px 5px;
  border-bottom: 1px solid var(--borderColor);
  resize: none;
}
.sprintName {
  font-size: 26px;
  height: 65px;
  line-height: 32px;
  display: inline-block;
  word-break: break-all;

  transition: var(--trans);
}
.sprintNameInput {
  max-width: 280px;
  font-size: 18px;
  line-height: 32px;
  display: inline-block;
  background-color: var(--backgroundColor);
  outline: none;
  border: none;
  padding: 0px 0px 0px 5px;
  border-bottom: 1px solid var(--borderColor);
  resize: none;
}
.button {
  border: none;
  background-color: transparent;
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 25px 5px;
}
.buttonTask{
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.applyСancel {
  font-family: var(--primeFont);
  padding: 4px;
  font-size: 16px;
}

@media (min-width: 1280px) {
  .taskName {
    width: 170px;
    margin: 0;
  }
}
